* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    width: 75%;
    margin: 20px auto;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    height: 40px;
    width: auto;
}

.navbar__section2 {
    display: flex;
    padding: 10px 10px;
    justify-content: space-around;
    gap: 30px;
    font-weight: bold;

}

.navbar__section2 p,
.navbar__section3 p {
    padding: 10px 10px;
    margin: 0%;
    font-weight: 600;
    border-bottom: 2px solid white;
}

.navbar__section2 p:hover,
.navbar__section3 p:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
}

.navbar__section3 {
    display: flex;
    padding: 10px 10px;
    gap: 10px;
    align-items: center;
}

.navbar__section3--button {
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 30px;
    border: solid 1px white;
}

.navbar__section3--button:hover {
    background-color: lightgreen;
    color: white;
    border: solid 1px white;
}

.categorybar {
    justify-content: center;
    margin: 20px auto;
}

.categorybar--header {

    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 55px;
}

.categorybar__section1 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

/******* The below Css is code is for categorybar buttons ********/
.searchall,
.hotels,
.thingstodo,
.restaurants,
.flights,
.holidayhomes {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border-bottom: 2px solid white;
}

.searchall:hover,
.hotels:hover,
.thingstodo:hover,
.restaurants:hover,
.flights:hover,
.holidayhomes:hover {
    border-bottom: 2px solid black;
}

/****** The above Css code is for searchbar and it's buttons ******/

.searchbar {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 5px;
    width: 50%;
    flex-grow: 1;
    border: 1px solid lightgrey;
    border-radius: 30px;
    margin: 20px auto;
}

.searchbar input {
    width: 100%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
}

.searchbar input:focus {
    outline: none;
}

.searchbar--button {
    padding: 14px 30px;
    border-radius: 30px;
    border: none;
    background-color: lightgreen;
    color: black;
    border: 1px solid white;
}


.searchbar--button:hover {
    background-color: lightgreen;
    color: black;
    transition: 0.5s;
    border: 1px solid green;
}

/* The below code is for cover section 1 and 2 */

.coversection1 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin: 20px auto;
    padding: 10px 10px;
    max-width: 70%;
}

.coversection1 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.coversection2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    padding: 10px 10px;
    background-color: lightpink;
    width: 70%;
    margin: 20px auto;
    position: relative;
    border-radius: 20px;
}

.coversection2__desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 12px;
    flex-grow: 1;
}

.coversection2--desc {
    font-size: 15px;
    line-height: 1.5;
}

.coversection2__button {
    padding: 10px;
    align-self: flex-end;
}

.coversection2 img {
    padding: 10px 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.coversection2--button {
    padding: 10px 10px;
    border: none;
    border-radius: 30px;
}

.coversection2--button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.award_container1 {
    justify-content: center;
    margin: 20px auto;
    width: 70%;
    padding: 10px 10px;
}

.award_container__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.award_container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 10px auto;
    width: 72%;
    position: relative;

}

.award_container2--category1,
.award_container2--category2,
.award_container2--category3,
.award_container2--category4 {
    position: relative;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 230px;
    height: 300px;
}

.award_container2--category1 img,
.award_container2--category2 img,
.award_container2--category3 img,
.award_container2--category4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.award_container2--category1 h1,
.award_container2--category2 h1,
.award_container2--category3 h1,
.award_container2--category4 h1 {
    position: absolute;
    bottom: 10px;
    left: 50px;
    right: 50px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.award_container2--rightarrow {
    position: absolute;
    right: 0;
    bottom: 50%;
    top: 50%;
    right: -20px;
    font-size: xx-large;
}

.award_container2--rightarrow img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

.award_container2--rightarrow img:hover {
    background-color: lightgreen;
    border: 1px solid gray;
    transform: scale(1.1);
    transition: 0.5s;
}

.explore_container {
    background-color: #faf1ec;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.explore_container--header {
    margin: 20px auto;
    width: 70%;
    padding: 10px 10px;
}

.explore_container--content {
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    margin: 20px auto;
    justify-content: space-between;
    gap: 20px;
}

.explore_container--category1,
.explore_container--category2,
.explore_container--category3 {
    flex-basis: 300px;
    font-size: 12px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.explore_container--category1 img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.explore_container--category2 img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.explore_container--category3 img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.explore_container--category1 p,
.explore_container--category2 p,
.explore_container--category3 p {
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
}


.explore_container--category1 h4,
.explore_container--category2 h4,
.explore_container--category3 h4 {
    text-align: center;
}

.react1,
.react3,
.react2 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px 5px;
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 12px;
    height: 12px;
}

.react1:hover,
.react2:hover,
.react3:hover {
    background-color: lightgreen;
    border: 1px solid gray;
    transform: scale(1.1);
    transition: 0.5s;
}

/* The below code is for footer */

.footer {
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(201, 199, 199);
    justify-content: center;

}

.footer_container{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
}

.footer_section1, .footer_section2, .footer_section3{
    line-height: 1.5;
}

.footer_section4{
    margin-left: auto;
}


/* the belwo code is for footer container 1 */
.footer_container1{
    width: 50%;
    margin: 20px 210px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    
}
.footer_container2{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
}


.footer_container1_section1 {
    display: flex;
    flex-wrap: wrap;
}

.footer_container1_section1--logo {
    width: 60px;
    height: 60px;
}

.footer_container1_section1--logo img {
    width: 40px;
    height: 40px;
}

.footer_container1_section1--copyright {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

.footer_container1_section1--copyrights--options1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}

.footer_container1_section1--copyrights--options2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


.footer--desc{
    flex-basis: 60%;
    margin-top: 20px;
    flex-wrap: wrap;
}



.footer_container1_section2 select {
    padding: 10px 60px;
    border-radius: 5px;
    border: 1px solid lightgray; 
}

